
\.idea/

__pycache__/


*.log

Resources/Weights/

Resources/time_profiler

*.yaml

Resources/ids

Resources/token_psw\.txt

src/darknet/
src/darknet

Faces/Unknown/

src/Tests/2019-02-13_14-07-44\.jpg

*.png

*.pkl
