face_recognition==1.2.3
python_telegram_bot==11.1.0
imutils==0.5.2
opencv_contrib_python==4.0.0.21
tqdm==4.28.1
numpy==1.14.0
matplotlib==3.0.2
Pillow==5.4.1
darknet==0.3
scikit_learn==0.20.2
atlas==0.27.0
telegram==0.0.1
